button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.submit {
  width: 320px;
  height: 40px;
  background: #1890FF;
  border-radius: 4px;
  margin: 21px 0px 10px 0px;
  transition: all 0.4s ease-in;
  &:hover {
    background: #fff;
  }
}