.wrapper {
  max-width: 940px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 24px 19px;
  position: relative;
  font-style: normal;
  font-weight: normal;
}
.body {
  width: 690px;
}
.titleLike {
  display: flex;
  width: auto;
  margin-bottom: 6px;
}

.likes {
  font-size: 12px;
  align-items: center;
  margin-top: 2px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}
.favor {
  display: flex;
  align-items: center;
  margin-left: 10px;
  
}
.noFavorite {
  cursor: pointer;
  margin-right: 5px;
  margin-top: -8px;
  width: 18px;
  height: 18px;
  background: url("../../img/Vector.png") no-repeat;
}

.favorite {
  cursor: pointer;
  margin-right: 5px;
  margin-top: -8px;
  width: 18px;
  height: 18px;
  background: url("../../img/redHeart.png") no-repeat;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  margin: 0;
  transition: all 0.5s ease;
  &:hover {
    color: #52c41a;
  }
}
.description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}
.tag {
  display: inline-block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  line-height: 15px;
  flex-direction: row;
  padding: 2px 6px 3px 5px;
  margin-right: 8px;
  margin-bottom: 7px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);

}
.article {
  width: 100%;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.info {
  display: flex;
}
.nameData {
  display: flex;
  flex-direction: column;
}
.name {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-style: normal;
  font-weight: normal;
}
.data {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: normal;
}
.avatar {
  width: 46px;
  height: 46px;
  margin-left: 12px;
}
