.wrapper {
  align-items: center;
  align-self: center;
}
.alert {
  margin-top: 50px;
}
.postList {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.post {
  margin-top: 26px;
}
.post:last-child {
  margin-bottom: 26px;
}
.title {
  margin-top: 50px;
}

.footer {
  text-align: center;
}